* {
  color: white;
}

body {
background-image: url("images/table-background-alt.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

img {
  width: 8.1rem;
  height: 13.66rem;
}

td {
  min-width: 8.1rem; 
  border-style: dashed;
  border-width: 2px;
  border-color: limegreen;
}

/* Sets a blank space in a table */
.blank {
  border-style: none;
}

table {
    min-height: 13.66rem;
    border-spacing: 1.4rem 0rem;
    display: inline-block;
}

.top-table {
    border-spacing: 1.7rem;
}

/*
.hide-img {
    display: none;
}
*/

button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 8.1rem;
    height 13.66rem;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}

/* Tableau tables 
   ============== */

.container {
    position: relative;
}

/* Change to hidden to remove borders */
.no-border td {
    border-style: hidden;
}

.tableau tr {
    z-index: -1;
}

.tableau-row1 {
    position: absolute;
}

.tableau-row2 {
    position: absolute;
    top: 2rem;
}

.tableau-row3 {
    position: absolute;
    top: 4rem;
}

.tableau-row4 {
    position: absolute;
    top: 6rem;
}

.tableau-row5 {
   position: absolute;
    top: 8rem;
}

.tableau-row6 {
    position: absolute;
    top: 10rem;
}

.tableau-row7 {
    position: absolute;
    top: 12rem;
}

.tableau-row8 {
    position: absolute;
    top: 14rem;
}

.tableau-row9 {
    position: absolute;
    top: 16rem;
}

.tableau-row10 {
    position: absolute;
    top: 18rem;
}

.tableau-row11 {
    position: absolute;
    top: 20rem;
}

.tableau-row12 {
    position: absolute;
    top: 22rem;
}

.tableau-row13 {
    position: absolute;
    top: 24rem;
}

.tableau-row14 {
    position: absolute;
    top: 26rem;
}

.tableau-row15 {
    position: absolute;
    top: 28rem;
}

.tableau-row16 {
    position: absolute;
    top: 30rem;
}

.tableau-row17 {
    position: absolute;
    top: 32rem;
}

.tableau-row18 {
    position: absolute;
    top: 34rem;
}

.tableau-row19 {
    position: absolute;
    top: 36rem;
}

/* Table columns
   ============= */

.tableau-col1 {
    margin-left: -1.25rem;
}

.tableau-col2 {
    margin-left: 7rem;
}

.tableau-col3 {
    margin-left: 7rem;
}

.tableau-col4 {
    margin-left: 7rem;
}

.tableau-col5 {
    margin-left: 7rem;
}

.tableau-col6 {
    margin-left: 7rem;
}

.tableau-col7 {
    margin-left: 7rem;
}

/*Make <tr>s stack on top of each other as is done for tables above? */

.dragging {
    opacity: .5;
}

/* hides the element when applied to className */
.invisible {
    display: none;
}

.pile {
    border: 2px dashed gray;
    transform: translateY(-10px);
}

#undoBtn {
    height: 3rem;
}

button:hover {
    background-color: lightslategrey;
}

button:active {
    background-color: lightcoral;
}