* {
  color: white;
}

body {
background-image: url("images/table-background-alt.jpg");
}

img {
  width: 8.1rem;
  height: 13.66rem;
}

td {
  min-width: 8.1rem; 
  border-style: dashed;
  border-width: 2px;
  border-color: limegreen;
}

/* Sets a blank space in a table */
.blank {
  border-style: none;
}

table {
    min-height: 13.66rem;
    border-spacing: 1.4rem;
    display: inline-block;
}

.top-table {
    border-spacing: 1.7rem;
}

/*
.hide-img {
    display: none;
}
*/

button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 8.1rem;
    height 13.66rem;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}

/* Tableau tables 
   ============== */

.container {
    position: relative;
}

/* Change to hidden to remove borders */
.no-border td {
    border-style: hidden;
}

.tableau-row1 {
    position: absolute;
}

.tableau-row2 {
    position: absolute;
    top: 3.5rem;
}

.tableau-row3 {
    position: absolute;
    top: 5.5rem;
}

.tableau-row4 {
    position: absolute;
    top: 7.5rem;
}

.tableau-row5 {
   position: absolute;
    top: 9.5rem;
}

.tableau-row6 {
    position: absolute;
    top: 11.5rem;
}

.tableau-row7 {
    position: absolute;
    top: 13.5rem;
}

.tableau-row8 {
    position: absolute;
    top: 15.5rem;
}

.tableau-row9 {
    position: absolute;
    top: 17.5rem;
}

.tableau-row10 {
    position: absolute;
    top: 19.5rem;
}

.tableau-row11 {
    position: absolute;
    top: 21.5rem;
}

.tableau-row12 {
    position: absolute;
    top: 23.5rem;
}

.tableau-row13 {
    position: absolute;
    top: 25.5rem;
}

/* Table columns
   ============= */

.tableau-col1 {
    margin-left: -1.25rem;
}

.tableau-col2 {
    margin-left: 7rem;
}

.tableau-col3 {
    margin-left: 7rem;
}

.tableau-col4 {
    margin-left: 7rem;
}

.tableau-col5 {
    margin-left: 7rem;
}

.tableau-col6 {
    margin-left: 7rem;
}

.tableau-col7 {
    margin-left: 7rem;
}

/*Make <tr>s stack on top of each other as is done for tables above? */

/* hides the element when applied to className */
.invisible {
    display: none;
}
